<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>name</key>
		<dict>
			<key>chinese</key>
			<string>我的单词列表</string>
			<key>japanese</key>
			<string>マイ単語帳</string>
			<key>english</key>
			<string>My Word List</string>
		</dict>
		<key>position</key>
		<dict>
			<key>width</key>
			<string></string>
			<key>height</key>
			<string></string>
			<key>horizontal</key>
			<string></string>
			<key>vertical</key>
			<string></string>
		</dict>
		<key>methodGoToScene</key>
		<string>MyListLayer</string>
		<key>Image</key>
		<string></string>
	</dict>
	<key>0</key>
	<dict>
		<key>name</key>
		<dict>
			<key>chinese</key>
			<string>添加词库到我的词库</string>
			<key>japanese</key>
			<string>導入語帳</string>
			<key>english</key>
			<string>Input Word List</string>
		</dict>
		<key>position</key>
		<dict>
			<key>width</key>
			<string></string>
			<key>height</key>
			<string></string>
			<key>horizontal</key>
			<string></string>
			<key>vertical</key>
			<string></string>
		</dict>
		<key>methodGoToScene</key>
		<string>ExternalListLayer</string>
		<key>Image</key>
		<string></string>
	</dict>
	<key>2</key>
	<dict>
		<key>name</key>
		<dict>
			<key>chinese</key>
			<string>听写</string>
			<key>japanese</key>
			<string>リスンニング</string>
			<key>english</key>
			<string>listening</string>
		</dict>
		<key>position</key>
		<dict>
			<key>width</key>
			<string></string>
			<key>height</key>
			<string></string>
			<key>horizontal</key>
			<string></string>
			<key>vertical</key>
			<string></string>
		</dict>
		<key>methodGoToScene</key>
		<string></string>
		<key>Image</key>
		<string></string>
	</dict>
	<key>3</key>
	<dict>
		<key>name</key>
		<dict>
			<key>chinese</key>
			<string>设置</string>
			<key>japanese</key>
			<string>設定</string>
			<key>english</key>
			<string>setting</string>
		</dict>
		<key>position</key>
		<dict>
			<key>width</key>
			<string></string>
			<key>height</key>
			<string></string>
			<key>horizontal</key>
			<string></string>
			<key>vertical</key>
			<string></string>
		</dict>
		<key>methodGoToScene</key>
		<string>SettingLayer</string>
		<key>Image</key>
		<string></string>
	</dict>
	<key>4</key>
	<dict>
		<key>name</key>
		<dict>
			<key>chinese</key>
			<string>关于</string>
			<key>japanese</key>
			<string>インフォ</string>
			<key>english</key>
			<string>information</string>
		</dict>
		<key>position</key>
		<dict>
			<key>width</key>
			<string></string>
			<key>height</key>
			<string></string>
			<key>horizontal</key>
			<string></string>
			<key>vertical</key>
			<string></string>
		</dict>
		<key>methodGoToScene</key>
		<string></string>
		<key>Image</key>
		<string></string>
	</dict>
</dict>
</plist>
